*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(123, 7, 30);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1rem rgba(27, 21, 21);
    font-size: 8vmin;
    color: #e31025;
    background-color: #eceda4;
}

#reset{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
}

#new-game{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    margin-left: 1vmin;
    margin-top: 2vmin;
}

#msg{
    font-size: 6vmin;
    color: #eceda4;
    margin-top: 30vmin;
}

.hide{
    display: none;
}

.msgContainer{
    height : 100vmin;
    align-items: center;
    justify-content: center;
     
    flex-direction: column;
}